@font-face
        {
            font-family: '8b';
            url: url('fonts/8bitoperator_jve.ttf');
        }
		.date-topic
		{
			text-align: right;
			margin-right: 30px;
		}
		div.clack {
		  
		  align-items: center;
		  
		  /* Remove the next line if you want the span to appear next to the h1 */
		  justify-content: space-between;
		  
		  border-bottom: 0px solid #292929;
		  padding-left: 20px;
		}
		div.clock
		{
			padding-left: 20px;
		}
        body
        {
            background-image: url('../assets/legacy4.png');
            background-size: cover;
            background-color: #292929;
            color: #ffffff;
            font-family: 'Fira Code', monospace;
            background-attachment: fixed;
        }
        a
        {
            text-decoration: none;
        }
        hr
        {
            border: 0px;
        }
        .head {
            padding: 10px;
            background-color: #252525;
            color: white;
            font-size: 20px;
            display: flex;
        }
        /* unvisited link */
        a.inv:link {
        color: white;
        }

        /* visited link */
        a.inv:visited {
        color: white;
        }

        /* mouse over link */
        a.inv:hover {
        color: white;
        }

        /* selected link */
        a.inv:active {
        color: white;
        }
        .lc{
            position: absolute;
            right: 20px;
            padding-left: 8px;
        }
        img.sc{
            height: 25px;
        }
        .ww
        {
            color: #d97ef2;
        }
        .boxBOx
        {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
.nt {
display: inline-block;
padding-left: 20px;
}
        .highlight{
            background-color: #753587;
            border: none;
            color: white;
            width: 125px;
            height: 125px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            left: 50%;
            right: 50%;
            transition-duration: 0.4s;
            margin-top: 10px;
        }
        .normal
        {
            border: none;
            color: white;
            padding: 15px 60px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            left: 50%;
            right: 50%;
            background-color: #252525;
            transition-duration: 0.4s;
            margin-top: 10px;
        }
        .normal:hover
        {
            background-color: #121212;
        }
        .highlight:hover
        {
            background-color: #33163b;
        }
        .about
        {
            background-color: #252525;
            width: 800px;
            height: 940px;
            border-radius: 12px;
            opacity: 0.7;
            padding: 20px;
            margin-top: 100px;
            position: absolute;
            top: 60%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            overflow-wrap: break-word;
        }
        .flex
        {
            display: flex;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        div
        {overflow-wrap: break-word;}
        .postbox
        {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 20px;
        }
.preview
{
border-radius: 40px;
}
.cb{margin-top:10px;}
.rund{border-radius: 40px;}
        .audmg
        {
            background-image: url('https://m.gjcdn.net/community-thumbnail/100/112100-chcz6bf3-v4.jpg');
            background-size: cover;
            background-color: #292929;
            background-attachment: fixed;
        }
        .warshi
        {
            background-image: url('../assets/omnirunes.png');
            background-size: cover;
            background-color: #292929;
            background-attachment: fixed;
        }
        .frisk
        {
            background-image: url('https://cdn.discordapp.com/avatars/1059371380036079677/b7509e83faf2e993d2c0004ee66a9066.webp?size=128');
            background-size: cover;
            background-color: #292929;
            background-attachment: fixed;
        }